<br>
<br>
<center>
  <h1> Welcome to googreads!! </h1>
  <br>
  Hi <%= @current_user ? @current_user.name : 'stranger!' %>
  <br>

  <% if @current_user %>
    <a href="/users/<%=@current_user.id%>">Go to my page</a>


    <%= form_tag logout_path do %>
      <button class="btn btn-danger" type="submit" name="commit" value="Logout" data-disable-with="Logout" >Logout</button>
    <% end %>


  <% else %>
    <br>
    <button type="button" class="btn btn-danger"><%= link_to "Sign Up", new_user_path %></button>
    <button type="button" class="btn btn-primary"><%= link_to "Log In", login_path %></button>

  <% end %>
  <br>
  <br>
  <button class="btn btn-success btn-lg">  <%= link_to "Find Your Next Book!", new_book_path %></button>

  <br>
  <br>
</center>
