Title: <%=@book.title%><br><br>
Description: <%=@book.description%><br><br>
Image: <img src="<%=@book.image%>" ><br><br>
Author Name: <%=@book.author.name%><br><br>

Genre Names: <%@book.genres.each do |genre|%>
  <%=genre.name%><br><br>
<%end%>
<br><br>
Reviews: <br>
<%@book.reviews.each do |review|%>
  Rating: <%=review.rating%><br>
  Content: <%=review.content%><br>
<%end%>

<br>
Shelves containing this book:<br>
<%@book.shelves.each do |shelf|%>
  <%if shelf.user.id == session["user_id"]%>
    <a href="/shelves/<%=shelf.id%>">
      <%=shelf.name%><br>
    </a>
  <%else%>
    <%=shelf.name%><br>
  <%end%>
<%end%>
<br>
