Title: <%=@book.title%><br><br>
Description: <%=@book.description%><br><br>
Image: <img src="<%=@book.image%>" ><br><br>
Author Name: <%=@book.author.name%><br><br>

Genres: <%=@book.list_genres(@book)%>
<br><br>
Reviews: <br>
<%@book.reviews.each do |review|%>
  Rating: <%=review.rating%><br>
  Content: <%=review.content%><br>
<%end%>

<!-- Please work: <br><%=@book.list_reviews(@book)%> -->

<br>
Shelves containing this book:<br>
<%@book.shelves.each do |shelf|%>
  <%if shelf.user.id == session["user_id"]%>
    <a href="/shelves/<%=shelf.id%>"><%=shelf.name%><br></a>
  <%elsif shelf.name != ("Searched" || "Reviewed") %>
    <%=shelf.name%><br>
  <%end%>
<%end%>
<br>

<% if @current_user %>
  <%= link_to "Make A New Shelf", new_shelf_path %> or
  <br>
  Add to An Existing Shelf:<br>
  <% @current_user.shelves.each do |shelf|%>
    <a href="/shelves/<%=shelf.id%>/edit">
      <%=shelf.name%>
    </a>
    <br>
  <% end %>
<% end %>
<br>
<%= link_to "Home", root_path %>
