<center>
  <div class="card" style="width: 20rem;">
    <div class="card-body">
      <h4 class="card-title"><%=@review.book.title%></h4>
      <h6 class="card-subtitle mb-2 text-muted">Rating: <%=@review.rating%></h6>
      <p class="card-text"><%=@review.content%></p>
    </div>
    <%if @review.user_id == session["user_id"]%>
      <a href="/reviews/<%=@review.id%>/edit">Edit this rating</a>
      <%= form_tag review_path(@review), method: "delete" do%>
        <%= submit_tag "Delete review" %>
      <% end %>
    <%end%>
  </div>
</center>
